@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* !css variables */
:root {
  --clr-violet: 257 40% 49%;
  --clr-soft-magenta: 300 69% 71%;
  --clr-white: 0 0% 100%;

  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --spacing-1: 2rem;
  --spacing-2: 2.125rem;
  --spacing-3: 3.75rem;
  --spacing-4: 2.5rem;
}

/* !reset */
/* !Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* !Remove defaut margin and padding */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/* !Remove list styles on ul, ol elements* with class */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-block-size: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* !A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* !Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* !Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* !Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* !sometimes referred to as .sr-only */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*:focus-visible {
  outline: 3px dotted hsl(var(--clr-soft-magenta));
  outline-offset: 5px;
}

body {
  font-family: var(--ff-body);
  background-color: hsl(var(--clr-violet));
  display: grid;
  grid-template-rows: 1fr 6fr .5fr;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  padding: 10%;
  color: hsl(var(--clr-white));
}

:is(.button, .social__list-link) {
  transition: 300ms ease-in-out;
}

.button {
  text-decoration: none;
  align-self: center;
  width: fit-content;
  margin-inline: auto;
}

/* !header styles */
.header {
  margin-block-end: var(--spacing-3);
}

.logo__image {
  width: 8.4375rem;
  height: auto;
}

.huddle__container {
  display: grid;
  gap: 4rem;
  max-width: 100rem;
  margin-inline: auto;
}

.mockup__image {
  margin-inline: auto;
}


.huddle__text-group {
  display: grid;
  gap: 1rem;
  text-align: center;

  .huddle__title {
    font-family: var(--ff-headings);
    text-wrap: balance;
  }
}

.button--register {
  font-size: 0.9375rem;
  color: hsl(var(--clr-violet));
  background-color: hsl(var(--clr-white));
  padding: 0.75em 5em;
  border-radius: 1.875rem;
  box-shadow: 0 5px 10px 5px rgba(0 0 0 / .21);
  margin-block-end: 3rem;

  &:is(:hover, :focus-visible) {
    background-color: hsl(var(--clr-soft-magenta));
    color: hsl(var(--clr-white));
  }
}


/* !social list styles */
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .social__list-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid hsl(var(--clr-white));
    border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
    display: grid;
    place-items: center;

    &:is(:hover, :focus-visible) {
      color: hsl(var(--clr-soft-magenta));
      border-color: hsl(var(--clr-soft-magenta));
    }
  }
}

/* !attribution */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: hsl(var(--clr-white));
  position: fixed;
  inset: auto auto 1rem 1rem;
  display: none;

  @media (width >=70em) {
    display: block;
  }
}

.attribution a {
  color: inherit;
}

/* !media queries */
@media (width >=64.0625em) {
  .mockup__image {
    width: min(100%, 25rem);
    height: auto;
  }
}

@media (width >=70em) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-size: auto 100%;
    background-position: left;
    padding: 1rem 5%;
  }

  .logo__image {
    width: 17.75rem;
    height: 2.8125rem;
  }

  .mockup__image {
    width: min(100%, 43.75rem);
    height: auto;
  }


  .huddle__text-group {
    align-content: start;
    text-align: start;
  }

  .huddle__title {
    font-size: clamp(2rem, 2.78vw, 3rem);
  }

  .huddle__description {
    max-width: 55ch;
  }

  .button {
    margin-inline: initial;
  }

  .button--register {
    font-size: 1rem;
    padding: 0.75em 3em;
  }

  .social__list {
    justify-content: flex-end;
  }
}

@media (width >=85em) {
  .huddle__container {
    grid-template-columns: 1.4fr 1fr;
    align-items: center;
    gap: 2.5rem;
  }
}